<ion-menu side="start" menuId="first" contentId="content">
    <ion-header>
        <ion-toolbar color="hsonga">
            <ion-title>Menú</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>

        <ion-list>
            <ion-menu-toggle *ngFor="let c of componentes | async">
                <ion-item [routerLink]="c.redirectTo" routerDirection="root" [class.active-item]="selectedPath === c.redirectTo">
                    <ion-icon slot="start" [name]="c.icon" color="hsonga"></ion-icon>
                    <ion-label>{{c.nombre}}</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-router-outlet id="content" main></ion-router-outlet>