<ion-header no-border="no-border">
  <ion-toolbar color="hsonga">
      <ion-buttons slot="end">
          <ion-button (click)="cerrar()">
              Cerrar
          </ion-button>
      </ion-buttons>
      <ion-title>Aprobación Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item>
          <ion-label><strong>Requerimiento</strong></ion-label>
              <ion-label >
                  {{Req}}
              </ion-label>
      </ion-item>

      <ion-item>
          <ion-label><strong>Observacion</strong></ion-label>
              <ion-label class="ion-text-wrap">
                  {{observacion}}
              </ion-label>
      </ion-item>
      <ion-item>
          <ion-label><strong>Fecha</strong></ion-label>
              <ion-label class="ion-text-wrap">
                  {{fecha}}
              </ion-label>
      </ion-item>
      <ion-item>
          <ion-label><strong>Origen</strong></ion-label>
              <ion-label class="ion-text-wrap">
                  {{origen}}
              </ion-label>
      </ion-item>
      <ion-item>
          <ion-label><strong>Destino</strong></ion-label>
              <ion-label class="ion-text-wrap">
                  {{destino}}
              </ion-label>
      </ion-item>
  </ion-list>
  <div>
      <ngx-datatable
          class="bootstrap"
          [rows]="rows"
          [columns]="columns"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [limit]="20">
          <ngx-datatable-column name="Producto" prop='ProductoCodigo'></ngx-datatable-column>
          <ngx-datatable-column name="Tipo" prop='Tipo'></ngx-datatable-column>
          <ngx-datatable-column name="Talla" prop='talla'></ngx-datatable-column>
      </ngx-datatable>
  </div>
</ion-content>