<ion-header no-border>
    <ion-toolbar color="hsonga">
        <ion-buttons color="start" slot="start">
            <ion-menu-button color="light" menu="first"></ion-menu-button>
            <!--<ion-buttons slot="start">
            <ion-button (click)="toggleMenu()">
                <ion-icon slot="icon-only" name="menu">
                </ion-icon>
            </ion-button>-->

        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="Cerrar()">
                Salir
            </ion-button>
        </ion-buttons>
        <ion-title>SONGA</ion-title>
    </ion-toolbar>
</ion-header>