<ion-header no-border>
    <ion-toolbar color="hsonga">
        <ion-buttons slot="start">
            <ion-menu-button color="light" menu="first"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [disabled]="producto==''" (click)="Grabar()">
                Grabar
            </ion-button>
        </ion-buttons>
        <ion-title>EmpaqueList</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
    <ion-grid>
        <ion-row>
            <ion-col size="12" class="top-5">
                <ion-item lines="none" mode="ios">
                    <ion-label position="fixed" mode="ios">Producto</ion-label>
                    <ion-input mode="ios" class="ion-text-right ion-prd" inputmode="numeric" [(ngModel)]="producto" (ionBlur)="OnBlur($event)"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-item lines="none" mode="ios" class="top-5">
                    <ion-label position="fixed" mode="ios">Marcar Todo</ion-label>
                    <ion-checkbox [checked]="this.chbox == 1" [disabled]="producto==''" (ionChange)="OnChangeBox($event)" slot="start"></ion-checkbox>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-radio-group allow-empty-selection="true" (ionChange)="OnChangeRad($event)" name="rgroup">
            <ion-row>
                <ion-col>
                    <ion-item lines="none">
                        <ion-label>A</ion-label>
                        <ion-radio [checked]="this.A == 1" [disabled]="producto==''" mode="md" item-left value="A" slot="start"></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item lines="none">
                        <ion-label>B</ion-label>
                        <ion-radio [checked]="this.B == 1" [disabled]="producto==''" mode="md" item-left value="B" slot="start"></ion-radio>
                    </ion-item>
                </ion-col>

                <ion-col>
                    <ion-item lines="none">
                        <ion-label>C</ion-label>
                        <ion-radio [checked]="this.C == 1" [disabled]="producto==''" mode="md" item-left value="C" slot="start"></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-radio-group>

        <ion-row>
            <ion-col size="12" class="top-5">
                <ion-list>
                    <ion-card *ngFor="let item of EmpList; let i = index">
                        <ion-item>
                            <ion-grid>
                                <ion-row>
                                    <ion-col size="1">
                                        <ion-checkbox [(ngModel)]="item.isChecked"></ion-checkbox>
                                    </ion-col>
                                    <ion-col size="7" class="top-5">
                                        <ion-item>
                                            <ion-label mode="ios" color="hsonga" class="my-label">Talla:</ion-label>
                                            <ion-label mode="ios" class="my-label" slot="end">{{item.descrip}}</ion-label>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label mode="ios" color="hsonga" class="my-label">TallaV:</ion-label>
                                            <ion-label mode="ios" class="my-label" slot="end">{{item.descripv}}</ion-label>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label mode="ios" color="hsonga" class="my-label">Cant:</ion-label>
                                            <ion-input mode="ios" inputmode="numeric" class="ion-text-right ion-cant" [(ngModel)]=item.Cantidad slot="end"></ion-input>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col size="4" class="top-5">
                                        <ion-list>
                                            <ion-radio-group (ionChange)="OnChangeRaitem($event,i)">
                                                <ion-item>
                                                    <ion-label mode="ios" class="my-label">A </ion-label>
                                                    <ion-radio mode="ios" value="A" [checked]="item.A == 1"></ion-radio>
                                                </ion-item>
                                                <ion-item>
                                                    <ion-label mode="ios" class="my-label">B </ion-label>
                                                    <ion-radio mode="ios" value="B" [checked]="item.B == 1"></ion-radio>
                                                </ion-item>
                                                <ion-item>
                                                    <ion-label mode="ios" class="my-label">C </ion-label>
                                                    <ion-radio mode="ios" value="C" [checked]="item.C == 1"></ion-radio>
                                                </ion-item>
                                            </ion-radio-group>
                                        </ion-list>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-item>
                    </ion-card>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>